:root{
    --purple-color: #eb5b08;
    --color2 : #000000;
    --color1 : #FFFFFF;
}

*,*::after,*::before{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;    
}
body{
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    color: var(--color1);
}
.m-width{
    max-width: 1440px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a, a:active , a:hover{
    color:var(--color1);
}
h2{
    text-align: center;
    font-size: 48px;
}
section{
    height: 100vh;
    width: 100vw;
    padding: 0px 90px;
}
.hero{
    background-image: url("./images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hero .nav{
    height: 100vh;
    background: rgba(0, 0,0, 0.6);
    text-align: center;
    position: relative;
    
}
.nav .social{
    position: absolute;
    top: 1rem;
    right: 1.4rem;
    gap: 20px;
    font-size: 1.2rem;
    flex-direction: row;
}
.nav .social i{
    font-size: 1.4rem;
}
.hero .nav span{
    font-size: 3rem;
    color: var(--purple-color);
    font-weight: 700;
    text-transform: uppercase;
}
.hero .nav h1{
    font-size: 5rem;
    margin: 3rem 0;
}
.hero .nav p{
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
}


/* Cars Section */
.cars-section h2{
    margin-top: 2rem;
    color: var(--color2);
}
.cars-section .cars{
    width: 100%;
    height: 600px;
}
.cars-section .cars .cars-name{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 0;
}
.cars-section .cars .cars-name li:hover{
    border: 0;
    background-color: var(--purple-color);
    color: var(--color1);
    transform: scale(1.2);
}
.cars-section .cars .cars-name li{
    border: solid 3px var(--purple-color);
    color: var(--color2);
    border-radius: 50px;
    font-size: 1.5rem;
    width: 8rem;
    text-align: center;
    padding: 0.4rem;
    margin:10px 10px;
    cursor: pointer;
}
.cars-section .cars .cars-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.cars-section .cars .cars-img .car{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(200%);
    transition: transform 1s ease-in-out;
}
.cars-section .cars .cars-img .car:hover{
    transform: scale(1.3);
}
.cars-section .cars .cars-img .show{
    transform: translateX(0);
}

/* Booking section*/
.booking{
    background-image: url("./images/booking-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
}
.booking .content{
    justify-content: space-between;
    height: 100%;
}

.booking .content .rates{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.booking .content .rates .item{
    display: flex;
    justify-content: center;
}
.booking .content .rates .circle{
    height: 200px;
    width: 200px;
    border: 0;
    z-index: 2;
    border-radius: 50%;
    background: rgba(0, 0,0, 0.6);
}
.booking .content .rates .circle h3{
    font-size: 2rem;
    color: var(--purple-color);
}
.booking .content .rates .circle p{
    font-size: 1.5rem;
}
.booking .content .book{
    width: 80%;
    padding: 1rem 0;
    background: rgba(0, 0,0, 0.9);
    font-size: 2rem;
    gap: 10px;
}
.booking .content .book form{
    display: flex;
    gap: 1rem;
}
.booking .content .book input,.booking .content .book button{
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 6px;
}
.booking .content .book input::placeholder{
    color: var(--color2);
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}
.booking .content .book button{
    background: var(--purple-color);
    color: var(--color1);
    font-size: 1rem;   
}

/* features */
.features{
    gap: 6rem;
    color: var(--color2);
}
.features .feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.features .feature .item{
    gap: 2rem;
}
.features .feature .item h3{
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem ;
    width: 10rem;
    border-top: solid 5px var(--purple-color);
    border-radius: 15px;
    text-align: center;
}
.features .feature .item p{
    border-top: solid 5px var(--purple-color);
    transform:rotate(90deg) ;
    width: 4.8rem;
}
.features .feature .item i{
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-color);
    color: var(--color1);
    font-size:2.2rem;
} 
.features .feature .item i:hover{
    transform: scale(1.3);
}

/* places section*/
.places{
    background-color: rgba(0, 0,0, 0.9);
    padding-top: 2rem;
    height: max-content;
}
.places .location{
    width: 100%;
    height: 100%;
}
.places .location .cities{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
}
.places .location .cities img{
    width: 100%;
    height: 80%;
    object-fit:cover;
    border-radius: 6px;
}
.places .location .cities img:hover{
    transform: scale(2);
}

/* Contact us */
.contact {
    color: var(--color2);
}
.contact .wrapper{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    width: 100%;
}
.contact .wrapper .left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
    position: relative;
}
.contact .wrapper .right{
    width: 50%;
    height: 60vh;
}
.contact .wrapper .left i{
    font-size: 1.5rem;
    position: absolute;
    left: -1rem;
    color:white;
    display: inline-block;
    padding: 1rem;
    border: 0;
    border-radius: 50%;
    background-color: var(--purple-color);
}
.contact .wrapper .left h3{
    font-size: 1.5rem;
    color: var(--purple-color);
}
.contact .wrapper .left p{
    font-size: 1.2rem;
}

/* footer */
footer{
    background-color: var(--color2);
    padding: 1rem;
}
footer .wrapper{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
footer .wrapper .photo{
    width: 150px;
}
footer .wrapper .photo img{
    width: 100%;
}

footer .wrapper h1{
    font-size: 2rem;
    color: var(--purple-color);
    text-align: center;
}
footer .wrapper h2{
    margin-top: 2rem;
    font-size: 1.5rem;
}
footer .wrapper .social{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
footer .wrapper .social a{
    color: #FFFFFF;
    font-size: 2rem;
}

@media(max-width: 900px) {
    html{
        font-size: 13px;
    }
    section{
        padding: 0 40px;
    }
    .booking .content .rates .item{
        width: 50%;
    }
    .booking .content{
        justify-content: center;
        gap: 7rem;
    }
    .features .feature{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .features .feature .item{
        margin: 1rem 0.5rem;
        width: 40%;
    }
    .places .location .cities{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
}
@media(max-width:800px){
    html{
        font-size: 11px;
    }
    .contact .wrapper{
        flex-direction: column;
    }
    .contact .wrapper .left{
        height: 50%;
        width: 100%;
    }
    .contact .wrapper .right{
        height:40vh;
        width: 100%;
    }
}
@media(max-width: 500px){
    html{
        font-size: 10px;
    }
    section{
        padding: 0 12px;
    }
    h2{
        font-size: 38px;
    }
    .booking .content .rates .circle{
        width: 120px;
        height: 120px;
    }
    .booking .content .rates .item{
        margin: 1rem 0;
    }
    .booking .content .book{
        display: none;
    }
    .places{
        height: max-content;
    }
    .places .location .cities{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .cars-section .cars{
        height: 400px;
    }
    .contact .wrapper .left i{
        padding: -0.5rem;
    }
    footer .wrapper .photo{
        width: 90px;
    }
}

@media(max-width: 350px){
    html{
        font-size: 8px;
    }
    .booking .content .rates .circle{
        width: 100px;
        height: 100px;
    }
}
